@import "tailwindcss";

:root {
  --color-background-1: #faf7f2;
  --color-background-2:#faf6f1;
  --color-background-3:#f6efe5;

  --color-text-1:#201c17;
  --color-text-2: #3f372f;
  --color-text-3: #7d7061;
   --color-text-4: #8e7061;
  --color-text-5:#b0a496;
 
  --color-button-1: #d6a676;
  --color-button-hover: #ad7f51;
  --color-border-1: #f0eae2;
  --color-border-2: #f3e4d6;

  --color-success: #22C55E;
  --color-error: #EF4444;
}


body {
  background-color: var(--color-background-1);
  /* color: var(--color-text-1); */
}